<html>
  <head>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	</head>
	<body>
	<div id="app">
	  {{ message }}
		<p id="server-time"></p>
		<label v-for="(value, index) in chatData" :key="index">{{value}}</label>
		<input type=""text v-model="chatessage"/>
		<button @click="push()"/>push</button>
	</div>
	</body>
    <script>
	  //var HOST = location.origin.replace(/^http/, 'ws')
	  var ws = new WebSocket('ws://fierce-gorge-50811.herokuapp.com/');
	  var app = new Vue({
	    el: '#app',
	    data: {
		  message: 'Hello welcome chat!',
		  chatData: [],
		  chatessage: ''
	    },
		method: {
			startChat(){
			  ws.onmessage = (event) => {
				this.chatData.push(event);
			  };
			},
			push() {
				ws.send(this.chatessage);
			}
		},
		mounthed: {
		
		}
	  });
    </script>
</html>
